animation-bubble()
	animation-name bubble
	animation-duration .2s
//
// animation-completed()
// 	animation-name completed
// 	animation-duration .6s

.area
	padding 5px
	color #000
	background linear-gradient(330deg, alpha(#eee, 100%), alpha(#fff, 100%))
	font-size 38px
	font-family RobotoCondensedBold
	display flex
	align-items center
	justify-content center
	user-select none

	&.-appear
		background-color red

		&-active
			background-color blue

	@media screen and (max-width: 680px)
		padding 3px
		font-size 27px

	@media screen and (max-width: 480px)
		font-size 22px
		line-height 0.8

	@media screen and (max-width: 400px)
		font-size 18px
		line-height 0.8

	&--coloured
		background linear-gradient(330deg, alpha(#bbb, 100%), alpha(#ccc, 100%))

	&--choosen
		animation-bubble()
		background lighten(green, 20%)

	&--choosen-initial
		animation-bubble()
		background lighten(red, 20%)

	&--not-initial
		font-family RobotoCondensedLight

	&--choosen-number
		background yellow
		color #000

	&:hover
		cursor pointer



@keyframes bubble
	0%
		transform scale(1)
	50%
		transform scale(1.2)
		filter blur(13px)
	100%
		transform scale(1)

// @keyframes completed
// 	0%
// 		background #4098bf
// 	25%
// 		background #1dd4c8
// 	50%
// 		background #4098bf
// 	75%
// 		background #1dd4c8
// 	100%
// 		background #4098bf
