.button
	background-color #2196f3
	border 0
	color #fff
	padding 5px 10px
	border-radius 2px
	box-shadow 3px 3px 10px alpha(#000, 20%)
	tr()
	transition-duration .2s
	outline none

	&:hover
		box-shadow 5px 5px 13px alpha(#000, 30%)
