.modificators
	display grid
	grid-template-columns repeat(9, 1fr)
	grid-gap 6px
	background-color #ddd
	border 6px solid #ddd
	margin-top 10px
	border-radius 50px

	@media screen and (max-width: 720px)
		grid-gap 3px
		border 3px solid #ddd
